:root {
  --primary: #FCECCF;
  --second: #442d1d ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
  font-weight: 800;
}

button{
  border-radius: 0.7rem;
  border: none;
  height: 45px;
  cursor: pointer;
}
.card-timer{
  width: 20rem;
}
