.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 16px;
}

app-task-form {
  grid-column: 1;
}

app-task-list {
  grid-column: 2;
  grid-row: 1 / span 2;
}

app-timer {
  grid-column: 1;
}

/* Responsivo */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  app-task-list {
    grid-column: 1;
    grid-row: auto;
  }
}
