.card {
  padding: 16px;
  border-radius: 8px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary);
  color: #fff;
}

.timer .time {
  font-size: 48px;
  display: block;
  text-align: center;
  margin: 16px 0;
}

.time{
  font-weight: 900;
}

.controls{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-around;
}

.controls button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
}
