.card-timer {
  padding: 16px;
  border-radius: 8px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary);
  color: #fff;
}

.form-row {
  display: flex;
  gap: 0.75rem;
  width: 100%;
}

.form-row input {
  flex: 3;
  height: 45px;
  width: 100%;
  border-radius: 0.7rem;
  border: none;
  padding: 0.7rem;
}

.form-row select {
  flex: 1;
  height: 45px;
  border-radius: 0.7rem;
  border: none;
  padding: 0.5rem;
}

button {
  width: 150px;
  background-color: var(--primary);

}

.timer .time {
  font-size: 48px;
  display: block;
  text-align: center;
  margin: 16px 0;
}
